/* src/components/Button.css */
.button {
    font-family: 'Arial', sans-serif;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
  }
  
  .button--primary {
    background-color: #fd1eba;
    color: white;
  }
  
  .button--secondary {
    background-color: #f3f4f6;
    color: #333;
  }
  
  .button--small {
    font-size: 12px;
  }
  
  .button--medium {
    font-size: 14px;
  }
  
  .button--large {
    font-size: 16px;
  }
  